<div>
  <span class="p-float-label">
<p-autoComplete id="float-input"
                [(ngModel)]="constructionElement.input"
                [suggestions]="suggestions"
                (completeMethod)="search({event : $event})"
                (keyup.enter)="onEnter()"></p-autoComplete>
    <label for="float-input">{{constructionElement.name}}</label>
    => {{constructionElement.output}}
    <button pButton type="button" icon="pi pi-eraser" class="p-button-outlined"
            (click)="onDelete()"
    ></button>
  </span>
</div>
<!--<div> {{constructionElement.name}} : {{constructionElement.input}} => {{constructionElement.output}} </div>-->
