<!--<app-header></app-header>-->
<p-splitter [style]="{'height': '95%', 'width' : '100%'}" [panelSizes]="[20,80]">
  <ng-template pTemplate>
    <button (click)="changeTheme('saga-blue')">blue</button>
    <button (click)="changeTheme('saga-orange')">orange</button>
    <button (click)="changeTheme('vela-blue')">dark blue</button>
    <button (click)="changeTheme('vela-orange')">dark orange</button>
    <app-algebra-panel></app-algebra-panel>
  </ng-template>
  <ng-template pTemplate>
    <app-scene></app-scene>
  </ng-template>
</p-splitter>


<!--<div class="flex-row">-->

<!--  <div class="split-layout-H-Dragger split-layout&#45;&#45;flex"></div>-->
<!--  <div class="scene-positioning scene&#45;&#45;flex">-->
<!--    <app-scene></app-scene>-->
<!--  </div>-->

<!--</div>-->

<app-algebra-input></app-algebra-input>
<!--<router-outlet></router-outlet>-->
