.flex-row {
  display: flex;
  justify-content: space-between;
  height: 85%;
  width: 100%;
}

.algebra-panel--flex {
  flex-grow:1;
  flex-basis:20%;
}

.split-layout--flex {
  flex-basis:10px;
}

.scene--flex {
  flex-basis:80%;
}

.split-layout-H-Dragger {
  cursor: ew-resize;
  border-left: none;
  padding-right: 8px;
  border-right: 1px solid #dcdcdc;
  box-sizing: border-box;
}

.scene-positioning {
  padding: 2px;
  align-self: end;
  height: 100%;
}
