<div style="display: flex; flex-direction: column; height: 100%">
  <div style="flex: initial">
    <p-menubar [model]="items"></p-menubar>
  </div>

  <div style="flex: auto; height: 100%">
    <p-splitter [style]="{'height': '100%', 'width' : '100%'}" [minSizes]="[10,10]" [panelSizes]="[20,80]">
      <ng-template pTemplate>
        <app-algebra-panel></app-algebra-panel>
      </ng-template>
      <ng-template pTemplate>
        <app-scene></app-scene>
      </ng-template>
    </p-splitter>
  </div>
  <app-algebra-input style="flex: initial"></app-algebra-input>
</div>
